.NotFoundPage { 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  max-width: 500px;
  height: 100vh;

  margin: auto;
  .NotFound__images {
    width: 320px;
    height: 320px;

    padding-left: 90px;
  }

  .NotFound__title {
    font-size: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 12px;
    margin-top: -50px;
  }
}